<div class="container-fluid vw-100 vh-100 bg-body-tertiary p-0">

  <header>
    <nav class="navbar bg-body-secondary mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          Bootstrap
        </a>
      </div>
    </nav>
    </header>

  <main class="w-75 mx-auto sh">




        <table cdk-table [dataSource]="dataSource">

          <!-- Name Column -->
          <ng-container cdkColumnDef="name">
            <th cdk-header-cell *cdkHeaderCellDef>Name</th>
            <td cdk-cell *cdkCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Image Column -->
          <ng-container cdkColumnDef="imageUrl">
            <th cdk-header-cell *cdkHeaderCellDef>Image</th>
            <td class="text-center" cdk-cell *cdkCellDef="let element">
                <img [src]="element.imageUrl" alt="image" style="width: 100px;" class="rounded-1 shadow-sm">
            </td>
          </ng-container>
          
        
          <!-- Price Column -->
          <ng-container cdkColumnDef="price">
            <th cdk-header-cell *cdkHeaderCellDef>Price</th>
            <td cdk-cell *cdkCellDef="let element">{{ element.price }}</td>
          </ng-container>

          <!-- Published Since Column -->
          <ng-container cdkColumnDef="publishedAt">
            <th cdk-header-cell *cdkHeaderCellDef>Published Since</th>
            <td cdk-cell *cdkCellDef="let element">{{ element.publishedAt }}</td>
          </ng-container>

          <!-- Product Code Column -->
          <ng-container cdkColumnDef="id">
            <th cdk-header-cell *cdkHeaderCellDef>Product Code</th>
            <td cdk-cell *cdkCellDef="let element">{{ element.id }}</td>
          </ng-container>
          
        
          <!-- Header Row -->
          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <!-- Data Rows -->
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
        </table>








  </main>

  <!-- <button class="btn btn-outline-dark my-5" (click)="getProducts()">get</button> -->

  <p>{{ productsSignal() | json }}</p>

</div>


<!-- spinner -->
<!-- <div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div> -->