@import '~flag-icon-css/css/flag-icons.min.css';


table {
    width: 100%;
    border-collapse: collapse;
  }
  
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
th {
    background-color: #f4f4f4;
  }

