<div
  class="container-fluid vw-100 vh-100 bg-body-tertiary p-0 overflow-x-hidden"
>
  <header>
    <nav
      class="navbar bg-secondary-subtle justify-content-start align-items-center px-4"
    >
      <i class="bi bi-kanban me-2 fs-4 text-primary-emphasis"></i>
      <h1 class="m-0 fs-4 text-primary-emphasis fw-medium">Products</h1>
      <div class="ms-auto">
        <button
          class="border-0 p-0 me-2 bg-transparent"
          (click)="onLanguageChange('EN')"
        >
          <span class="flag-icon flag-icon-gb rounded-1"></span>
        </button>
        <button
          class="border-0 p-0 bg-transparent"
          (click)="onLanguageChange('PL')"
        >
          <span class="flag-icon flag-icon-pl rounded-1"></span>
        </button>
      </div>
    </nav>
  </header>

  <main class="w-75 mx-auto sh">
    <app-search-bar
      [language]="language()"
      (SearchBarValueChange)="captureSearchBarValue($event)"
    />

    <app-table 
    [dataSource]="productsSignal()" 
    [language]="language()"
    [searchBarSignal]="searchBarSignal()" />
  </main>
</div>

<!-- spinner -->
<!-- <div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div> -->
