<div class="wrapper container-fluid vw-100 vh-100 p-0 overflow-x-hidden">
  <header>
    <nav class="navbar justify-content-start align-items-center px-4">
      <i class="bi bi-kanban me-3 fs-4" style="color: aliceblue"></i>
      <h1
        class="m-0 fs-4 fw-medium"
        style="color: aliceblue; font-family: 'Lucida Sans'"
      >
        Products
      </h1>
      <div class="ms-auto">
        <button
          class="border-0 p-0 me-2 bg-transparent"
          (click)="onLanguageChange('EN')"
        >
          <span class="flag-icon flag-icon-gb rounded-1"></span>
        </button>
        <button
          class="border-0 p-0 bg-transparent"
          (click)="onLanguageChange('PL')"
        >
          <span class="flag-icon flag-icon-pl rounded-1"></span>
        </button>
      </div>
    </nav>
  </header>

  <main class="w-75 mx-auto sh">
    <app-search-bar
      [language]="language()"
      (SearchBarValueChange)="captureSearchBarValue($event)"
    />
    @if (!this.productService.isLoading()) {
    <app-table
      [dataSource]="productsSignal()"
      [language]="language()"
      [searchBarSignal]="searchBarSignal()"
    />
    } @else {
    <!-- spinner -->
    <div
      class="position-fixed top-50 start-50"
      style="transform: translate(-50%, -50%)"
    >
      <div
        class="spinner-border"
        role="status"
        style="width: 4rem; height: 4rem"
      >
        <span class="visually-hidden" style="width: 20px">Loading...</span>
      </div>
    </div>
    }
  </main>
</div>
