table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #e0e0e0;
  padding: 8px;
  text-align: center;
}

th {
  background: #f3f4f7;
  color: #333;
}
